.App {
  text-align: center;
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center; 
  min-height: 100vh;
}

.navbar {
  background-color: #007bff; 
  color: #fff; 
  width: 100%;
}

.navbar-content {
  display: flex;
  justify-content: center; 
  padding: 1rem;
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
}
.button{
  margin-left: 30px;
}

